name: Metrics generation

on:
  # Runs every day at 00:00 UTC
  schedule:
    - cron: "0 0 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  # Runs on every push to the main branch
  push:
    branches:
      - main

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required to fetch all history for contributions

      - name: Generate metrics
        uses: lowlighter/metrics@v3.34
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: GhalibFaruqe101 # ⬅️ 
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_skipped: html, css # Example: skip markup languages
          plugin_languages_details: percentage
          plugin_habits: yes
          plugin_habits_from: 200 # Last 200 events
          plugin_habits_days: 14
          plugin_followup: yes
          # Add or remove more plugins as needed
